@import "../../styles/style.scss";

.cart-container {
	display: grid;

	grid-template-columns: repeat(4, minmax(0, 1fr));
	gap: 2rem 2rem;
	flex-wrap: wrap;
	justify-items: center;
	margin-bottom: 16rem;


	@include screenSize('small') {
		grid-template-columns: 50% 50%;
		column-gap: 1rem;
		row-gap: 1rem;
		margin-bottom: 3rem;
	}

	.cart-wrapper-xlarge {
		overflow-x: auto;
		grid-column: span 3 / span 3;
	}

	.cart-table {
		min-width: 95%;
		font-size: 1.4rem;
		color: #85864f;
		margin-left: 2rem;
		overflow-y: hidden;



		&-head {
			border-bottom: 1px solid #85864f;
			padding-bottom: 1rem;


			&-product {
				padding: 0 2rem;
				text-align: left;
			}

			&-quantity,
			&-price,
			&-remove,
			&-favorite {
				padding: 0 2rem;
				text-align: center;
			}


		}

		.cartItem-item {
			border-bottom: 1px solid #85864f;
			font-size: 1.6rem;
			height: 12rem;




			@include screenSize('large') {
				height: 10rem;
			}

			&-name {
				padding: 1rem 0;
				text-align: left;
				vertical-align: middle;

				span {
					display: inline-block;
					text-align: left;
					vertical-align: middle;
				}

				&-image {
					width: 20%;
					display: inline-block;
					text-align: left;
					vertical-align: middle;



					@include screenSize('xlarge') {
						width: 35%;
					}
					
					


				}
			}


			&-quantity {
				text-align: center;
				vertical-align: middle;

				&-wrapper {
					@include display-flex(row, center, center);



					.plus {
						cursor: pointer;
					}

					.input {
						width: 6.5rem;
						padding: 0.75rem 0;
						margin: 0 0.75rem;
						text-align: center;
						background-color: white;
						border: none;
					}

					.minus {
						cursor: pointer;
					}

				}
			}

			&-favorite {
				text-align: center;
				vertical-align: middle;
				cursor: pointer;
			}

			&-price {
				text-align: center;
				vertical-align: middle;
			}

			&-remove {
				text-align: center;
				vertical-align: middle;
				cursor: pointer;

			}
		}
	}



	.cart-checkout {
		background-color: $navbar;
		position: fixed;
		right: 2%;
		padding: 3rem;
		height: max-content;
		border-radius: 0.8rem;
		color: gold;

		@include screenSize('large') {
			width: 20%;
		}



		&-list {
			@include display-flex(column, center, space-between);
			height: 100%;
			font-size: 1.4rem;

		}

		&-button {
			margin-top: 2rem;
			border: none;
			padding: 1rem;
			border-radius: 0.8rem;
			background-color: #85864f;
			color: gold;
		}
	}
}

.cart-medium {
	position: relative;
	border: #85864f solid 1px;
	border-radius: 0.8rem;
	padding: 1rem;
	margin-bottom: 2rem;


	&-card {
		height: 15rem;
		display: flex;
		color: gold;
		position: relative;


		&-image-area {
			width: 100%;
			@include display-flex(row, center, center);
			border-radius: 0.7rem;
			height: auto;
			margin-right: 1rem;
			overflow: hidden;


			img {
				width: 50%;
				object-fit: cover;
				margin-right: 2rem;
			}


		}

		&-info-area {
			overflow: hidden;
			width: 100%;
			position: relative;

			&-name {
				line-height: 1.8rem;
				font-size: 1.6rem;
			}

			&-list {
				margin-top: 0.8rem;
				padding-left: 2rem;

				&-first {
					@include display-flex(row, unset, space-between);
					margin-bottom: 1.6rem;
				}

				&-quantity {
					@include display-flex(row, center, center);
					margin-top: 2rem;

					input {
						width: 5rem;
						text-align: center;
						height: 4rem;
						margin: 0 1rem;

					}
				}

				&-second {
					@include display-flex(row, unset, space-between);
					margin-bottom: 1.6rem;
					font-size: 1.4rem;
				}
			}
		}

	}

	.card-remove{
		position: absolute;
		right: 1%;
		top:5%;
		color: #85864f;
	}

	.card-favorite{
		position: absolute;
		right: 1%;
		bottom:5%;
		color: #85864f;
	}


}

.cart-checkout-card{
	max-width: 40rem;
	margin: auto;
	.cart-checkout-card-wrapper {
		background-color: $navbar;
		padding: 3rem;
		height: max-content;
		border-radius: 0.8rem;
		color: gold;
		margin-bottom: 10rem;
	
		&-list {
			@include display-flex(column, center, space-between);
			height: 100%;
			font-size: 1.4rem;
	
		}
	
		&-button {
			margin-top: 2rem;
			border: none;
			padding: 1rem;
			border-radius: 0.8rem;
			background-color: #85864f;
			color: gold;
		}
	}
}

.modal-remove-question {
	padding-bottom: 2rem;
	color: #85864f
}

.modal-remove-btns {
	@include display-flex(row, center, center);

	.modal-remove-btn {
		margin-top: 2rem;
		border: none;
		padding: 1rem;
		border-radius: 0.8rem;
		background-color: #85864f;
		color: gold;
	}

	.option {
		margin-left: 2rem;
	}
}