@import "../../styles/style.scss";

.cart-container {
	display: grid;

	grid-template-columns: repeat(4, minmax(0, 1fr));
	gap: 2rem 2rem;
	justify-items: center;
	margin-bottom: 16rem;


	@include screenSize('small') {
		grid-template-columns: 50% 50%;
		column-gap: 1rem;
		row-gap: 1rem;
		margin-bottom: 3rem;
	}

	.cart-wrapper-xlarge {
		overflow-x: auto;
		grid-column: span 3 / span 3;
	}

	.cart-table {
		min-width: 100%;
		font-size: 1.4rem;
		color: #85864f;



		&-head {
			border-bottom: 1px solid #85864f;
			padding-bottom: 1rem;


			&-product {
				padding: 0 2rem;
				text-align: left;
			}

			&-quantity,
			&-price,
			&-remove,
			&-favorite {
				padding: 0 2rem;
				text-align: center;
			}


		}

		.cartItem-item {
			border-bottom: 1px solid #85864f;
			font-size: 1.6rem;
			height: 12rem;




			@include screenSize('large') {
				height: 10rem;
			}

			&-name {
				padding: 1rem 0;
				text-align: left;
				vertical-align: middle;

				span {
					display: inline-block;
					text-align: left;
					vertical-align: middle;
				}

				&-image {
					width: 20%;
					display: inline-block;
					text-align: left;
					vertical-align: middle;



					@include screenSize('large') {
						width: 25%;
					}


				}
			}


			&-quantity {
				text-align: center;
				vertical-align: middle;

				&-wrapper {
					@include display-flex(row, center, center);



					.plus {
						cursor: pointer;
					}

					.input {
						width: 6.5rem;
						padding: 0.75rem 0;
						margin: 0 0.75rem;
						text-align: center;
						background-color: white;
						border: none;
					}

					.minus {
						cursor: pointer;
					}

				}
			}

			&-favorite {
				text-align: center;
				vertical-align: middle;
				cursor: pointer;
			}

			&-price {
				text-align: center;
				vertical-align: middle;
			}

			&-remove {
				text-align: center;
				vertical-align: middle;
				cursor: pointer;

			}
		}
	}

	.modal-remove-question{
		padding-bottom: 2rem;
	}

	.modal-remove-btns{
		@include display-flex(row, center, center);

		.modal-remove-btn{
			margin-top: 2rem;
			border: none;
			padding: 1rem;
			border-radius: 0.8rem;
			background-color: #85864f;
			color: gold;
		}

		.option{
			margin-left: 2rem ;
		}
	}

	.cart-checkout {
		background-color: $navbar;
		position: fixed;
		right: 5%;
		padding: 3rem;
		height: max-content;
		border-radius: 0.8rem;
		color: gold;



		&-list{
			@include display-flex(column, center, space-between);
			height: 100%;
			font-size: 1.4rem;
			
		}
		&-button{
			margin-top: 2rem;
			border: none;
			padding: 1rem;
			border-radius: 0.8rem;
			background-color: #85864f;
			color: gold;
		}
	}
}